<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title style="accent-color: aqua">Document</title>
</head>
<body style="background-color: aqua;">
 <h1 > Hello Welcome to my Web</h1>
<button style="background-color:aquamarine; " > <a style ="text-decoration:none" href="/about" >about</a>

</button>
<button style="background-color: aquamarine;" > <a style ="text-decoration:none" href="/contact"> contact</a>

</button>

</body>
</html>